---
import '../css/main.scss';

import App from '../components/App.astro';
import SvgSprites from '../components/SvgSprites.astro';
import appVersion from '../appVersion';
---

<!doctype html>
<html lang="en">
	<head>
    <meta charset="UTF-8" />
    <title>MARL - Mastodon Archive Reader Lite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <link rel="icon" href="data:," />
    <base target="_blank" />
	</head>
	<body>
    <noscript>
      <div class="nojs">JavaScript is required for this app to run.</div>
    </noscript>

    <App />
    <SvgSprites />

    <script src={`/js/i18n/_langs.js?v=${appVersion}`} is:inline></script>
    <script src={`/js/i18n/en.js?v=${appVersion}`} is:inline></script>
    <script src={`/js/i18n/fr.js?v=${appVersion}`} is:inline></script>

    <script src={`/js/MARL/stores.js?v=${appVersion}`} is:inline></script>
    <script src={`/js/MARL/loadData.js?v=${appVersion}`} is:inline></script>
    <script src={`/js/MARL/utils.js?v=${appVersion}`} is:inline></script>
    <script src={`/js/MARL/libs.js?v=${appVersion}`} is:inline></script>
    <script src={`/js/MARL/init.js?v=${appVersion}`} is:inline></script>
	</body>
</html>
